RewriteEngine On
RewriteBase /

# Serve files or directories directly if they exist
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Route everything else to the index page (for Next.js SSR handling)
RewriteRule ^ /index.html [L]
